/* Form */
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
.f1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

/* Form Container */
form {
    width: 300px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Form Heading */
form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Labels */
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

/* Input Fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit Button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Button Hover Effect */
button[type="submit"]:hover {
    background: #0056b3;
}

.flash-message {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.flash-message-logout {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.card h2 {
    margin-bottom: 15px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
}

.email {
    font-weight: bold;
    color: #007bff;
}